:root {
    --main-color: #212121;
    --second-color: #757575;
    --background-color: #FFFFFF;
    --secondbackground-color: #2F303A;
    --accent-color: #2196F3;
    --background-color-current: #188CE8;
    --background-color-team: #F5F4FA;
    --second-font: 'Raleway', sans-serif;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --mailtel-color: rgba(255, 255, 255, 0.6);
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    color: var(--background-color);
}
.logo {
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;        
        letter-spacing: 0.03em;
        color: var(--black-color);
        text-decoration: none;
}

.accent {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0;
    margin-top: 0;
}
.container {
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline-offset: -2px;
    /* outline: 2px solid red; */
}
.header-container {
    display: flex;
    align-items: center;
}
.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}
.header-nav .list {
    display: flex;
}
.header-nav {
    margin-left: 93px;
}
.site-nav .header-nav-item {
    margin-right: 50px;
}
.site-nav .header-nav-item:last-child {
    margin-right: 0;
}
.auth-nav {
    display: flex;
    margin-left: auto;
    
}
.auth-nav .auth-item + .auth-item {
    margin-left: 50px;
}
.header-auth-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;    
}
.header-auth-link:hover,
.header-auth-link:focus {
    color: var(--accent-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* section main */
/* hero */

.hero {
    background-color: var(--secondbackground-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    width: 696px;
    
}
.button {
    text-align: center;

    display: inline-block;
    min-width: 216px;
    border-radius: 4px;
    padding: 11px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: 1px solid transparent; 
}
.button:hover,
.button:focus {
    background-color: var(--background-color-current);
}
/* section aside */
.aside-container .site-aside {
    display: flex;
    text-align: start;
    gap: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.aside-four {
    flex-basis: calc((100% - 30px * 3) / 4);
}
.subtitle-aside {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: 0;
   
}
.text-aside {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-top: 10px;
}

/* section job */
.job {
    padding-top: 0;
}

.job-container .site-job {
    display: flex;
    gap: 30px;
}
.job-item {
    flex-basis: calc((100% - 30px * 2) / 3);
}
.title-job {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.image-job {
    display: block;
    max-width: 100%;
}

/* section-team */
.team-container .site-team {
    display: flex;
    gap: 30px;
}
.team-item {
    flex-basis: calc((100% - 30px * 3) / 4);
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team {
    background-color: var(--background-color-team);
}
.title-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.team-name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.subtitle-team {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.text-team {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
/* footer */
/* .footer-container {
    padding-top: 20px;
    margin-bottom: 9px;
    padding-bottom: 60px;
} */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-second {
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.page-footer {
    background-color: var(--secondbackground-color);
}
.footer-address {
    margin-top: 20px;
}
.footer-nav {
    margin-bottom: 9px;
}
.footer-nav:last-child {
    margin-bottom: 0;
}
.google-page {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;
    font-style: normal;
    margin-bottom: 9px;   
}
.google-page:hover,
.google-page:focus {
    color: var(--accent-color);
}
.footer-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--mailtel-color);
    text-decoration: none;
    font-style: normal;
    
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
/* PAGE PORTFOLIO */
.page-header .border {
    border-bottom: 1px solid;
}
.portfolio-nav {
    display: flex; 
    justify-content: center;
    gap: 8px;
}
.portfolio-nav-item {
    display: block;
    /* margin: 0 auto; */
}
.portfolio-nav-link {
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-left: 25px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--background-color-team);
    border: none; 
}
.portfolio-nav-link:hover,
.portfolio-nav-link:focus {
    color: var(--white-color);
}
.portfolio-nav-link:hover,
.portfolio-nav-link:focus {
    background-color: var(--accent-color);
}
.portfolio-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}
.portfolio-container-border {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 4px;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
.portfolio-link {
    text-decoration: none;
}
.image { 
    display: block;
    border-color: var(--background-color); 
    max-width: 100%;
}



/*  колір основного тексту #212121 

/*  вторинний колір тексту #757575

/* білий колір #FFFFFF

/* акцент #2196F3

/* вторинний колір фону #2F303A */
